@page "/employeedata"
<PageTitle>Employee 12323</PageTitle>
@using CrudOperation.Data.Service
@using CrudOperation.Data
@using CrudOperation.Models
@inject IEmployeeServices services

<h1>Employee Data</h1>



@if (employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <table class="employee_table">
            <thead class="popup_title bg_primary">
                <tr>
                    <th width="15%" class="color_title ">Employee ID</th>
                    <th width="15%" class="color_title">Employee name</th>
                    <th width="20%" class="color_title">Employee Email</th>
                    <th width="15%" class="color_title">Employee Address</th>
                    <th width="15%" class="color_title">Employee Gender</th>
                    <th width="30%" class="color_title">Employee skills</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var employee in employees)
                {
                    <tr>
                        <td width="15%" class="color_title"><a href="javascript:void(0);">@employee.ID</a></td>
                        <td width="15%" class="color_title"><a href="javascript:void(0);">@employee.name</a></td>
                        <td width="20%" class="color_title"><a href="javascript:void(0);">@employee.email</a></td>
                        <td width="15%" class="color_title"><a href="javascript:void(0);">@employee.address</a></td>
                        <td width="15%" class="color_title"><a href="javascript:void(0);">@employee.gender</a></td>
                        <td width="30%" class="color_title"><a href="javascript:void(0);">@Result[employee.ID] </a></td>
                    </tr>
                }


            </tbody>
        </table>
    </div>




}
  



